h1 , h2 {
    text-align: center;
    margin: 40px auto 0 ;
    background-color: antiquewhite;
    font-size: 4em;
}

#count-el {
    margin-top: 0;
    font-size: 5em;
}

#myage {
    margin-top: 0;
    font-size: 5em;
}

#increment-btn {
    display: block;
    transition: ease-out 0.2s;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    font-weight: bold;
    margin: 5px auto 5px;
    background-color: darkred;
    color: white;
    width: 300px;
    font-size: 1.5em;
}
#increment-btn:hover {
    border: 3px solid white;
    border-radius: 5px;
    box-shadow: inset 300px 0 0 0 black;
}

